


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 35%;
    height: 35%;
    border:3px solid white;
    border-radius: 50%;
    margin: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 70%;
    /*background-color:black;*/ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a:hover{
    color: red;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}


.rightnav{
    width: 30%;
    text-align: right;
    padding: 0px 30px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
   /* background:rgba(0,0,0,0.7)url(/images/bg_img.jpg);*/
   /* background-size: cover;*/
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;

}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 3px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 45px;
}       

.text-small{
    font-size: 18px;
    margin-top: 25px;
    text-align: justify;
}

.btn{
    padding: 8px 20px;
    margin: 8px 4px;
    border: 2px solid #71c3b0;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.section{
   
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 16px 191px;
    background: #eef2f1;
    margin-right: 0px;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 110px;
}


.contact{
        background: #f2efe9;
        height: 800px;
        padding-top: 45px;
    }

.textcenter{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #2b6056;         
}

.form{
        max-width: 50%;
        margin: 25px auto;
}


.form-input{
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 18px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark{
    color: black;
    border:2px solid grey;
    
}

.text-footer{
    text-align: center;
font-family: 'Ubuntu', sans-serif;
color: white;
padding: 30px 0;
}

.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
    display: none;
}

.line{
    width:33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}


@media only screen and (max-width:1244px){

    .nav-list{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        height: 478px;
    }

    .rightnav{
        text-align: center;
        transition: all 0.7s ease-out;
    }

    #search{
        width: 100%;
    }
    
    .burger{
    display: block;
    }

    .h-nav{
        height: 72px;
    }

    .v-class{
        opacity: 0;
    }

    .box-main{
        height: 75%;
        flex-direction: column-reverse;
    }

    .section{
        flex-direction: column-reverse;
      
    }

    .text-small{
        text-align: center;
    }

    .text-big{
        text-align: center;
    }

    .buttons{
       text-align: center;  
    }

    .paras{
        padding: 0px;
    }

    
}